body{background-color: rgb(36, 37, 37);
    color: rgb(181, 174, 162);
    height: 3000px;}
    
    header ul{list-style: none;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 50px;
        font-weight: 100;
        font-family: "Merriweather", serif;
        
    }
    header{
    width: 100%;
    position: sticky;
    top: 12px;
    }
    
    section h1{
    padding-left: 15%;
    font-size: 30px;
    font-family: "Merriweather", serif;    font-weight: normal;
      font-style: normal;}
    ul a{
        color: #e8e5d6;
    }
    section{padding-top: 50px;}
